/* stylelint-disable media-feature-range-notation */

div.home {
  position: relative;
  background: linear-gradient(to top, #1c1c1c 18%, #101010 100%);

  z-index: 3;
  color: #fff;

  @media screen and (max-width: 450px) {
    height: 100%;
  }
}
