/* stylelint-disable media-feature-range-notation */

div.home {
  position: relative;
  background: #101010;
  z-index: 3;
  color: #fff;

  @media screen and (max-width: 450px) {
    height: 75vh;
  }
}
