/* stylelint-disable media-feature-range-notation */

div.home {
  position: relative;
  background: rgba(0, 0, 0, 0.977);
  z-index: 3;
  color: #fff;

  @media screen and (max-width: 450px) {
    height: 100%;
  }
}
