{{! Api docs }}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>League Scraper API</title>
  </head>
  <body>
    <h1>Hello, {{message}}</h1>
  </body>
</html>
